body{
    background-color: aliceblue;
    margin-top: 1em;
    
    font-family: Time News Roman;
}

h1{
    font-weight: bold;
    font-style: italic;
}

div.jumbotron{
    background-color: gray;
    padding-left: 2em;
    padding-top: 2em;
    color: white;
}

table{
    width: 100%;
    
    font-size: 1em;
    text-align: center;
}

thead{
    background-color: gray;
    
    font-size: 1.4em;
    color: white;
}

tr#row1{
    background-color: whitesmoke;
}

tr#row2{
    background-color: pink;
}