body{
    background-color: aliceblue;
    margin-top: 1em;
    
    font-family: Time News Roman;
}

h1{
    font-weight: bold;
    font-style: italic;
}

div.jumbotron{
    background-color: gray;
    padding-left: 2em;
    padding-top: 2em;
    color: white;
}

table{
    width: 100%;
    margin-top: 2%;
    font-size: 1em;
    text-align: center;
}

thead{
    background-color: gray;
}

th{
    text-align: center;
    font-size: 1.4em;
    color: white;
}

.table-striped>tbody>tr:nth-child(2n+1)>td {
    background-color: white;
}

.table-striped>tbody>tr:nth-child(2n)>td {
    background-color: lightgray;
}

button{
    margin-left: 10%;
    
    width: 80%;
}
