<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link rel="stylesheet" href="stocks.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>TOP 10 NORTH WEST STOCKS</title>
</head>
<body>
    <div class="jumbotron">
        <div class="logo">
            <h1>TOP 10 NORTH WEST STOCKS</h1>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary" onclick="companyList.forEach(getData)">Get Data</button>
    
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Company Name</th>
                <th>Market Cap</th>
                <th>Sales</th>
                <th>Profit</th>
                <th>Employees</th>
            </thead>
            <tbody id="mybody">
            </tbody>
        </table>
    </div>
    <script src="stocks.js"></script>
</body>
