body{
    background-color: aliceblue;
    font-family: Time News Roman;
    margin: 2%;
}

h1{
    font-size: 3em;
    color: gray;
    font-style: italic;
}

div{
    margin: .5%;
    font-size: 0.9em;
}