body{
    background-color: aliceblue;
    
    font-family: Time News Roman;
}

h1{
    font-size: 3em;
    text-align: center;
    margin-top: 25%;
    color: gray;
    font-style: italic;
}
div#count{
    display: inline;
    color: steelblue;
}