<head>
    <title>STATE MACHINE</title>
    <link rel="stylesheet" href="stateMachine.css">
</head>
<body>
    <h1>Current State:
        <div id="state"></div>
    </h1>
    <script src="stateMachine.js"></script>
</body>