body{
    background-color: aliceblue;
    
    font-family: Time News Roman;
}

h1{
    font-size: 3em;
    color: gray;
    font-style: italic;
    
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
div#state{
    display: inline;
    color: steelblue;
}