body{
    background-color: aliceblue;
    font-family: Time News Roman;
}

h1{
    font-size: 6em;
    text-align: center;
    color: gray;
    font-style: italic;
}

th{
    font-size: 1.5em;
    color: steelblue;
    text-align: center;
}

table{
    background-color: white;
    width: 100%;
    
    text-align: center;
}