<head>
    <title>Video</title>
</head>
<body>
    <h2>Nanaka - Come back</h2>
    <video poster="images/Nanaka.jpg" width="640" height="440" controls preload loop>
        <source src="videos/菜々香%20-%20Come%20back%20(Lyric%20Video).webm" type="video/webm">
        <source src="videos/菜々香%20-%20Come%20back%20(Lyric%20Video).ogg" type="audio/ogg">
        <p>This browser does not support our video format.</p>
    </video>
</body>