<head>
  <title>RGB vs. HSL Comparison</title>
  <link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <h1>RGB vs. HSL Comparison</h1>
  <table>
    <tr>
      <th class="RGB">RGB</th>
      <td class="RGB1"></td>
      <td class="RGB2"></td>
      <td class="RGB3"></td>
      <td class="RGB4"></td>
      <td class="RGB5"></td>
      <td class="RGB6"></td>
      <td class="RGB7"></td>
      <td class="RGB8"></td>
      <td class="RGB9"></td>
    </tr>
    <tr>
      <th class="HSL">HSL</th>
      <td class="HSL1"></td>
      <td class="HSL2"></td>
      <td class="HSL3"></td>
      <td class="HSL4"></td>
      <td class="HSL5"></td>
      <td class="HSL6"></td>
      <td class="HSL7"></td>
      <td class="HSL8"></td>
      <td class="HSL9"></td>
    </tr>
  </table>
</body>
