table {
  width: 100%;
}

th, td {
  width: 2%;
}

th.RGB {
  background-color: rgb(248, 131, 121);
}

th.HSL {
  background-color: hsl(4.7, 90.1%, 72.4%);
}

td.RGB1 {
  background-color: rgba(248, 131, 121, 0.9);
}

td.RGB2 {
  background-color: rgba(248, 131, 121, 0.8);
}

td.RGB3 {
  background-color: rgba(248, 131, 121, 0.7);
}

td.RGB4 {
  background-color: rgba(248, 131, 121, 0.6);
}

td.RGB5 {
  background-color: rgba(248, 131, 121, 0.5);
}

td.RGB6 {
  background-color: rgba(248, 131, 121, 0.4);
}

td.RGB7 {
  background-color: rgba(248, 131, 121, 0.3);
}

td.RGB8 {
  background-color: rgba(248, 131, 121, 0.2);
}

td.RGB9 {
  background-color: rgba(248, 131, 121, 0.1);
}

td.HSL1 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.9);
}

td.HSL2 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.8);
}

td.HSL3 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.7);
}

td.HSL4 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.6);
}

td.HSL5 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.5);
}

td.HSL6 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.4);
}

td.HSL7 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.3);
}

td.HSL8 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.2);
}

td.HSL9 {
  background-color: hsla(4.7, 90.1%, 72.4%, 0.1);
}
