<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link rel="stylesheet" href="pac12.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    PAC-12 FOOTBALL STANDINGS ==> 
                    <button onclick="myFunction()">Click me</button>
                </h3>
            </div>
            <div class="panel-body">
                <p id="team">NORTH DIVISION Conference Teams (2015-2016 Season)</p>
                <ul class="list-group">
                    <li id="one" class="list-group-item north-div">
                        <div class="row">
                            <div class="col-sm-4 college">School</div> 
                            <div class="col-sm-4 conference">Conference</div>
                            <div class="col-sm-4 overall">Overall</div> 
                        </div>
                    </li>
                    <li id="two" class="list-group-item north-div">
                        <div class="row">
                            <div class="col-sm-4 college">School</div> 
                            <div class="col-sm-4 conference">Conference</div>
                            <div class="col-sm-4 overall">Overall</div> 
                        </div>
                    </li>
                    <li id="three" class="list-group-item north-div">
                        <div class="row">
                            <div class="col-sm-4 college">School</div> 
                            <div class="col-sm-4 conference">Conference</div>
                            <div class="col-sm-4 overall">Overall</div> 
                        </div>
                    </li>
                    <li id="four" class="list-group-item north-div">
                        <div class="row">
                            <div class="col-sm-4 college">School</div> 
                            <div class="col-sm-4 conference">Conference</div>
                            <div class="col-sm-4 overall">Overall</div> 
                        </div>
                    </li>
                    <li id="five" class="list-group-item north-div">
                        <div class="row">
                            <div class="col-sm-4 college">School</div> 
                            <div class="col-sm-4 conference">Conference</div>
                            <div class="col-sm-4 overall">Overall</div> 
                        </div>
                    </li>
                    <li id="six" class="list-group-item north-div">
                        <div class="row">
                            <div class="col-sm-4 college">School</div> 
                            <div class="col-sm-4 conference">Conference</div>
                            <div class="col-sm-4 overall">Overall</div> 
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <script src="pac12.js"></script>
    
</body>