<head>
    <title>American Flag</title>
</head>
<body>
    <table border="0" width="1300" height="300" cellpadding="21" cellspacing="0">
        <tr>
            <td width="300" rowspan="7" bgcolor="blue">
            <!-- Nested <table> for Stars -->
                <table cellspacing="7" cellpadding="0" align="center" style="color:white; font-size: 15" >
    		        <tr>
    		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
    		            <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
    		            <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
    		            <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    		        <tr>
    		            <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
        		        <td></td>
        		        <td>&#9733;</td>
    		        </tr>
    	        </table>
            </td><!-- Rows for Alternating Stripes -->
        	<td bgcolor="red" colspan="1"></td>
            <tr>
                <td bgcolor="white" colspan="1"></td>
            </tr>    
            <tr>
                <td bgcolor="red" colspan="2"></td>
            </tr>
                    <tr>
                <td bgcolor="white" colspan="1"></td>
            </tr>    
            <tr>
                <td bgcolor="red" colspan="2"></td>
            </tr>
                    <tr>
                <td bgcolor="white" colspan="1"></td>
            </tr>    
            <tr>
                <td bgcolor="red" colspan="2"></td>
            </tr>
        </tr>
        <tr>
            <td bgcolor="white" colspan="2"></td>
        </tr>
        <tr>
            <td bgcolor="red" colspan="2"></td>
        </tr>
        <tr>
            <td bgcolor="white" colspan="2"></td>
        </tr>
        <tr>
            <td bgcolor="red" colspan="2"></td>
        </tr>
        <tr>
            <td bgcolor="white" colspan="2"></td>
        </tr>
        <tr>
            <td bgcolor="red" colspan="2"></td>
        </tr>
    </table>
</body>