<head>
	<title>Book Review</title>
</head>

<body>
	<h1>Book Review</h1>
	<form action="submit.php" method="post">
		Date:	<input type="text" name="date"><br><br>
		ISBN:	<input type="text" name="ISBN"><br><br>
		Author:	<input type="text" name="author"><br><br>
		Title:	<input type="text" name="title"><br><br>
		Book Review: <br>
		<textarea name="review" rows="5" cols="60"></textarea><br><br>
		<input type="submit" >
	</form>
</body>