<head>
    <title>Web Design Book List</title>
</head>
<body>
    <h1>Web Design Book List</h1>
    <table width="100%" border="1">
        <thead>
            <tr>
                <th>Published</th>
                <th>ISBN-13</th>
                <th>Author</th>
                <th>TItle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>November 8, 2011</th>
                <td>860-1200464207</td>
                <td>Jon Duckett</td>
                <td>HTML and CSS: Design and Bild Websites</td>
            </tr>
            <tr>
                <th>November 11, 2011</th>
                <td>978-0321793935</td>
                <td>Ian Devlin</td>
                <td>HTML5 Multimedia: Develop and Design</td>
    	</tr>
            <tr>
                <th>August 24, 2012</th>
                <td>978-1449319274</td>
                <td>Jennifer Niederst Robbins</td>
                <td>A Beginner's Guide to HTML, CSS, JavaScript, and Web Graphics</td>
    	</tr>
            <tr>
                <th>June 30, 2014</th>
                <td>978-1118531648</td>
                <td>Jon Duckett</td>
                <td>JavaScript and JQuery: Interactive Front-End Web Development</td>
    	</tr>
            <tr>
                <th>December 29, 2010</th>
                <td>978-1430230908</td>
                <td>Silvia Pfeiffer</td>
                <td>The Definitive Guide to HTML5 Video</td>
    	</tr>
            <tr>
                <th>August 27, 2010</th>
                <td>978-0596806026</td>
                <td>Mark Pilgrim</td>
                <td>HTML5: Up and Running</td>
    	</tr>
            <tr>
                <th>November 17, 2006</th>
                <td>978-0596527334</td>
                <td>Eric A. Meyer</td>
                <td>CSS: The Definitive Guide</td>
    	</tr>
            <tr>
                <th>May 13, 2011</th>
                <td>978-0596805524</td>
                <td>David Flanagan</td>
                <td>JavaScript: The Definitive Guide: Activate Your Web Pages</td>
    	</tr>
            <tr>
                <th>May 2008</th>
                <td>978-0596517748</td>
                <td>Douglas Crockford</td>
                <td>JavaScript: The Good Parts</td>
    	</tr>
	</tbody>
	<tfoot>
    		<tr>
    	  	  <td colspan="4" align="center"><b>Amazon Student</b> | FREE Two-Day SHipping on millions of items</td>
    		</tr>
	</tfoot>
    </table>
</body>