body{
    background-color: #d3c5e8;
    margin-top: 1em;
}

div.jumbotron{
    background-color: pink;
    padding-left: 2em;
    padding-top: 2em;
}

div.logo{
    background-image: url("http://getbootstrap.com/assets/brand/bootstrap-solid.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    height: 100px
}

div.formgroup{
    text-align: right;
}

h1{
    margin-left: 130px;
    padding-top: 0.2em;
}

h3{
    color: #50327c;
}

div.row{
    padding-left: 2%;
    padding-right: 2%;
}