<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="index.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="logo">
            <h1>Bootstrap</h1>
        </div>
    </div>
    <div class="formgroup">
        <form class="form-inline">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
            <button type="submit" class="btn btn-default">Sign in</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Integer faucibus augue at dolor molestie tempor.</h3>
            Nulla tristique lectus orci, sit amet posuere tortor rutrum at. In id tellus lacus. Morbi laoreet arcu id scelerisque sollicitudin. Integer pellentesque efficitur ex, vel imperdiet ex commodo sit amet. Nunc sed elit at dolor pharetra pharetra. Vestibulum auctor efficitur magna, id condimentum mauris mollis sed. Nunc auctor non est ut sodales. Aliquam leo arcu, scelerisque nec placerat sed, consequat eget felis. Maecenas eget quam rutrum ligula rhoncus efficitur a vel nisi.</div>
        <div class="col-md-4">
            <h3>Praesent in neque commodo, facilisis sem non, congue dui.</h3>
            Ut efficitur et turpis et fermentum. Sed dapibus, est eget suscipit ultrices, nulla sem rhoncus ex, vel dictum diam ligula ac urna. Sed sed molestie erat, eget dictum nulla. Suspendisse ac rhoncus felis. Aliquam maximus risus non velit imperdiet dapibus. Nam gravida interdum eros in posuere. Duis porttitor euismod orci, id tincidunt libero consequat et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst.</div>
        <div class="col-md-4">
            <h3>Maecenas iaculis sapien id varius venenatis.</h3>
            Nunc in leo ultricies, ullamcorper quam id, sollicitudin eros. Morbi a mauris sollicitudin, bibendum nibh in, bibendum odio. Cras congue leo et orci tincidunt dictum. Donec faucibus accumsan lobortis. Maecenas venenatis ut lacus non viverra. Cras consequat purus nisl, vel tempus sem maximus tristique. Mauris cursus velit vitae odio dapibus vehicula. Maecenas ornare id sapien eu iaculis. Cras congue leo quis rutrum porttitor. Pellentesque dui magna, pulvinar ac purus at, egestas dapibus diam.</div>
    </div>
</body>